@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
@model PagedList.IPagedList<QLBanHang_CongTyHoaHasfarmDaLat.Models.SanPham>
@using PagedList.Mvc;
<style>
    .pagination-container {
        display: flex;
        justify-content: center;
    }

    .PagedList-skipToPrevious, .PagedList-skipToNext, .PagedList-skipToLast, .PagedList-skipToFirst {
        width: auto !important;
    }

    .pagination > li {
        margin-left: 4px;
        width: 40px;
        border-radius: 5px;
        text-align: center;
        background-color: #d3d3d3d3;
    }

        .pagination > li > a {
            display: block;
            width: 100%;
            border-radius: 5px;
            padding: 4px 8px;
            color: black;
        }

            .pagination > li > a:hover {
                background-color: #E72463;
                color: white;
            }
    /* Thêm quy tắc cho trang hiện tại */
    .pagination > .active > a,
    .pagination > .active > a:hover {
        background-color: #E72463;
        color: white;
    }
</style>
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Trang Mua Hàng</h3>
                    <ul>
                        <li><a href="/KhachHang/Home">Trang Chủ</a></li>
                        <li>Trang Mua Hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Shop Main Area Start Here -->
@if (Model != null)
{
    <div class="shop-main-area">
        <div class="container container-default custom-area">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-12 col-custom widget-mt">
                    <!--shop toolbar start-->
                    <div class="shop_toolbar_wrapper mb-30">
                        <div class="shop_toolbar_btn">
                            <button data-role="grid_3" type="button" class="active btn-grid-3" title="Grid"><i class="fa fa-th"></i></button>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <!-- Shop Wrapper Start -->
                    <div class="row shop_wrapper grid_3">
                        @foreach (var item in Model)
                        {
                            if (item.TrangThai == true)
                            {
                                <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
                                    <div class="product-item">
                                        <div class="single-product position-relative mr-0 ml-0">
                                            <div class="product-image">
                                                <a class="d-block" href="/KhachHang/ChiTietSanPham/@item.MaSP">
                                                    @if (item.HinhAnh.Hinh1 != null)
                                                    {
                                                        <img src="~/Image/@item.HinhAnh.Hinh1" alt="" class="product-image-1 w-100">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Image/hinhtrong.jpg" alt="" class="product-image-1 w-100">
                                                    }
                                                    @if (item.HinhAnh.Hinh2 != null)
                                                    {
                                                        <img src="~/Image/@item.HinhAnh.Hinh2" alt="" class="product-image-2 position-absolute w-100">
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Image/hinhtrong.jpg" alt="" class="product-image-2 position-absolute w-100">
                                                    }
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <div class="product-title">
                                                    <h4 class="title-2"> <a href="/KhachHang/ChiTietSanPham/@item.MaSP">@item.TenSP</a></h4>
                                                </div>
                                                <div class="price-box">
                                                    <span class="regular-price ">@string.Format("{0:N0}đ", @item.GiaBan)/@item.DonViTinh</span>
                                                </div>
                                                <a href="/KhachHang/ThemGioHang/@item.MaSP" class="btn product-cart">MUA NGAY</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <!-- Shop Wrapper End -->
                    <!-- Bottom Toolbar Start -->
                    <div>
                        @if (ViewBag.Param != null)
                        {
                            @Html.PagedListPager(Model, page => Url.Action(ViewBag.URL, new { page, tensp = ViewBag.Param }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5 })
                        }
                        else
                        {
                            @Html.PagedListPager(Model, page => Url.Action(ViewBag.URL, new { page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 5 })
                        }
                    </div>


                    <!-- Bottom Toolbar End -->
                </div>
                <div class="col-lg-3 col-12 col-custom">
                    <!-- Sidebar Widget Start -->
                    <aside class="sidebar_widget widget-mt">
                        <div class="widget_inner">
                            <div class="widget-list widget-mb-1">
                                <h3 class="widget-title">Tìm Kiếm</h3>
                                <div class="search-box">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="productSearch" name="tensp" placeholder="" aria-label="Search Our Store">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" id="searchButton" onclick="submitSearch()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="widget-list widget-mb-1">
                                <h3 class="widget-title">Danh Mục</h3>
                                <!-- Widget Menu Start -->
                                <nav>
                                    <ul class="mobile-menu p-0 m-0">
                                        @Html.Action("MenuChuDe", "KhachHang")
                                    </ul>
                                </nav>
                                <!-- Widget Menu End -->
                            </div>
                            <div class="widget-list widget-mb-1">
                                <h3 class="widget-title">Sản Phẩm Theo Mức Giá</h3>
                                <div class="sidebar-body">
                                    <ul class="sidebar-list">
                                        <li><a href="/KhachHang/LocSanPhamTheoGia/1">Dưới 500,000đ</a></li>
                                        <li><a href="/KhachHang/LocSanPhamTheoGia/2">Từ 500,000đ - 1,000,000đ</a></li>
                                        <li><a href="/KhachHang/LocSanPhamTheoGia/3">Trên 1,000,000đ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <!-- Sidebar Widget End -->
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Chưa tìm ra sản phẩm này! Quý khách vui lòng tìm kiếm từ khóa khác hoặc xem thêm trong danh mục sản phẩm.</p>
}
@*<script>

        function onSearch() {
            console.log($('#productSearch').val().trim());
            if (event.key == 'Enter') {
                if ($('#productSearch').val().trim() == '')
                    return;
                window.location = "/KhachHang/TimKiemTheoTen?tensp=" + $('#productSearch').val().trim();
            }

        }
    </script>*@