@{
    ViewBag.Title = "XacNhanThongTinDatHang";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<GioHang>
@{int? Tongtien = 0;}
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Checkout</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Thông Tin Thanh Toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Checkout Area Start Here -->
<div class="checkout-area mt-no-text">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-6 col-12 col-custom">
                <form action="/KhachHang/XacNhanThongTinDatHang" method="post">
                    <div class="checkbox-form">
                        <h3>CHI TIẾT HOÁ ĐƠN</h3>
                        <div class="row">
                            @*<div class="col-md-12 col-custom">
                                    <div class="checkout-form-list">
                                        <label>Họ Và Tên</label>
                                        <input placeholder="Nhập Họ Và Tên" type="text" name="hoten">
                                    </div>
                                </div>*@
                            <div class="col-md-12 col-custom">
                                <div class="checkout-form-list">
                                    <label>Địa Chỉ <span class="required">*</span></label>
                                    <input placeholder="Nhập Địa Chỉ" type="text" name="diachi">
                                </div>
                            </div>
                            <div class="col-md-12 col-custom">
                                <div class="checkout-form-list">
                                    <label>Số Điện Thoại <span class="required">*</span></label>
                                    <input type="text" placeholder="Nhập Số Điện Thoại" name="sdt">
                                </div>
                            </div>
                            <div class="col-md-12 col-custom">
                                <div class="checkout-form-list">
                                    <label>Chọn Phương Thức Thanh Toán <span class="required">*</span></label>
                                    <br />
                                    <div class="radio-buttons">
                                        <label class="radio-inline" style="padding-right:10px; margin-top:10px;">
                                            <input type="radio" name="thanhtoan" value="online" checked> Thanh Toán Online
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="thanhtoan" value="cod"> Ship COD
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-custom order-button-payment">
                                <button type="submit" class="btn flosun-button secondary-btn black-color rounded-0 w-100">Đặt Hàng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-12 col-custom">
                <div class="your-order">
                    <h3>Hoá đơn</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Tên sản phẩm</th>
                                    <th class="cart-product-total">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            @item.SanPham.TenSP<strong class="product-quantity">
                                                × @item.SoLuong
                                            </strong>
                                        </td>
                                        <td class="cart-product-total text-center"><span class="amount">@string.Format("{0:N0}đ", @item.SanPham.GiaBan * @item.SoLuong)</span></td>
                                    </tr>
                                    Tongtien += (item.SanPham.GiaBan * item.SoLuong);
                                }
                            </tbody>
                            <tfoot>
                                <tr class="order-total">
                                    <th>Tổng Tiền</th>
                                    <td class="text-center"><strong><span class="amount">@string.Format("{0:N0}đ", @Tongtien)</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="#payment-1">
                                        <h5 class="panel-title mb-3">
                                            <a href="#" class="" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Thanh toán nhanh bằng tài khoản ngân hàng
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body mb-2 mt-2">
                                            <p>Sau khi đơn hàng của khách hàng đã được xác nhận, đơn hàng sẽ được chuyển đến cửa hàng gần nhất với địa chỉ giao hàng của Quý khách hoặc chuyển đến cửa hàng mà Quý khách chọn sẽ đến lấy hàng. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="order-button-payment">
                                    <button class="btn flosun-button secondary-btn black-color rounded-0 w-100">Place Order</button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>