@{
    ViewBag.Title = "XacNhanThongTinDatHang";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<GioHang>
@{int? Tongtien = 0;
  TaiKhoan tk = (TaiKhoan)Session["tk"];

  }
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Thông Tin Thanh Toán</h3>
                    <ul>
                        <li><a href="/KhachHang/Home">Trang Chủ     </a></li>
                        <li>Thông Tin Thanh Toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Checkout Area Start Here -->
<div class="checkout-area mt-no-text">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-6 col-12 col-custom">
                <form action="/KhachHang/XacNhanThongTinDatHang" method="post">
                    <div class="checkbox-form">
                        <h3>Thông Tin Đặt Hàng</h3>
                        <div class="row">
                            <div class="col-md-12 col-custom">
                                <div class="checkout-form-list">
                                    <label>Địa Chỉ <span class="required"></span></label>
                                    <input placeholder="Nhập Địa Chỉ" type="text" name="diachi" required value="@(ViewBag.DiaChi != null ? ViewBag.DiaChi : String.Empty)">
                                </div>
                            </div>
                            <div class="col-md-12 col-custom">
                                <div class="checkout-form-list">
                                    <label>Số Điện Thoại <span class="required"></span></label>
                                    <input type="text" placeholder="Nhập Số Điện Thoại" name="sdt" required value="@(ViewBag.DiaChi != null ? ViewBag.SDT : String.Empty)">
                                </div>
                            </div>
                            <div class="col-md-12 col-custom">
                                <div class="checkout-form-list">
                                    <label>Chọn Phương Thức Thanh Toán <span class="required">*</span></label>
                                    <br />
                                    <div class="radio-buttons">
                                        <label class="radio-inline" style="padding-right:10px; margin-top:10px;">
                                            <input type="radio" name="thanhtoan" value="online"> Thanh Toán Online
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="thanhtoan" value="cod" checked> Ship COD
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-custom order-button-payment">
                                <button type="submit" class="btn flosun-button secondary-btn black-color rounded-0 w-100">Đặt Hàng</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br />
            <br />
            <div class="col-lg-6 col-12 col-custom">
                <div class="your-order">
                    <h3>Hóa Đơn</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Sản Phẩm</th>
                                    <th class="cart-product-total">Thành Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            @item.SanPham.TenSP<strong class="product-quantity">
                                                × @item.SoLuong
                                            </strong>
                                        </td>
                                        <td class="cart-product-total text-center"><span class="amount">@string.Format("{0:N0}đ", @item.SanPham.GiaBan * @item.SoLuong)</span></td>
                                    </tr>
                                    Tongtien += (item.SanPham.GiaBan * item.SoLuong);
                                }
                            </tbody>
                            <tfoot>
                                <tr class="order-total">
                                    <th>Tổng Tiền</th>
                                    <td class="text-center"><strong><span class="amount">@string.Format("{0:N0}đ", @Tongtien)</span></strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />