@{
    ViewBag.Title = "ChiTietPhieuNhap";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<ChiTietPhieuNhap>
<!-- Chi tiết phiếu nhập -->
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Chi Tiết Phiếu Nhập: <span class="text-primary">@ViewBag.maPhieuNhap</span></h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="/QuanLy/PhieuNhap/" class="btn btn-primary">Quay lại</a>
                        </div>
                    </div>
                    @if (Model.Count > 0)
                    {
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">Sản phẩm</th>
                                            <th style="width: 25%;">Số lượng</th>
                                            <th style="width: 25%;">Đơn giá</th>
                                            <th style="width: 25%;">Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.SanPham.TenSP</td>
                                                <td>@item.SoLuongNhap</td>
                                                <td>@string.Format("{0:N0}đ", @item.DonGiaNhap)</td>
                                                <td>@string.Format("{0:N0}đ", @item.ThanhTien)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h3 class="text-danger text-center">Chi Tiết Phiếu Nhập Rỗng</h3>
                    }
                </div>
            </div>
        </div>
    </div>
</div>