@{
    ViewBag.Title = "ChuDe";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<ChuDe>
<!-- Chủ đề  -->
<!-- Page Content  -->
@if (ViewBag.ThongBao_XoaChuDe != null)
{
    <script>
        alert("@ViewBag.ThongBao_XoaChuDe");
    </script>
}
@if (ViewBag.ThongBao_SuaChuDe != null)
{
    <script>
        alert("@ViewBag.ThongBao_SuaChuDe");
    </script>
}
@if (ViewBag.ThongBao_ThemChuDe != null)
{
    <script>
        alert("@ViewBag.ThongBao_ThemChuDe");
    </script>
}
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Danh mục chủ đề</h4>
                        </div>
                        <form action="/QuanLy/TimKiem_ChuDe" method="post">
                            <div class="input-group" style="width:700px;">
                                <div class="form-inline" style="width:320px;" data-mdb-input-init>
                                    <input placeholder="Nhập từ khoá bạn muốn tìm kiếm..." name="search" type="search" class="form-control red-border" style="border: 1px solid gray; width: 320px;" />
                                </div>
                                <button id="search-button" type="submit" class="btn btn-primary ">
                                    <i class="fas ri-search-line"></i>
                                </button>
                            </div>
                        </form>

                        @*<div class="iq-search-bar">
                                <form action="/QuanLy/TimKiem_ChuDe" class="searchbox" method="post">
                                    <input type="text" class="text search-input" placeholder="Nhập từ khoá bạn muốn tìm kiếm..." name="search">
                                    <button class="search-link" type="submit"><i class="ri-search-line"></i></button>
                                </form>
                            </div>*@
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="/QuanLy/ThemChuDe" class="btn btn-primary">Thêm mới</a>
                        </div>
                    </div>
                    @if (Model != null)
                    {
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th width="20%">Mã chủ đề</th>
                                            <th width="70%">Tên chủ đề</th>
                                            <th width="10%">Hoạt động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.MaChuDe</td>
                                                <td>@item.TenChuDe</td>
                                                <td>
                                                    <div class="flex align-items-center list-user-action">
                                                        <a class="bg-dark" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa" href="/QuanLy/SuaChuDe/@item.MaChuDe"><i class="ri-pencil-line"></i></a>
                                                        <button class="bg-dark" data-toggle="tooltip" data-placement="top" title="Xoá" onclick="confirmDelete('@item.MaChuDe')" style="border-radius:5px;">
                                                            <i class="ri-delete-bin-line"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h4 class="text-center text-danger">Chủ Đề Tìm Kiếm Không Tồn Tại!</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(maChuDe) {
        var result = confirm("Bạn có chắc chắn muốn xóa chủ đề này không?");
        if (result) {
            // Người dùng chọn "Yes"
            window.location.href = '/QuanLy/XoaChuDe/' + maChuDe;
        } else {
            // Người dùng chọn "No" hoặc đóng cửa sổ
            // Đóng cửa sổ hiện tại
            window.close();
        }
    }
</script>
