@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<NhanVien>
<!-- Nhân viên -->
<!-- Page Content  -->
@if (ViewBag.ThongBao_SuaNhanVien != null)
{
    <script>
        alert("@ViewBag.ThongBao_SuaNhanVien");
    </script>
}
@if (ViewBag.ThongBao_ThemNhanVien != null)
{
    <script>
        alert("@ViewBag.ThongBao_ThemNhanVien");
    </script>
}
@if (ViewBag.ThongBao_XoaNhanVien != null)
{
    <script>
        alert("@ViewBag.ThongBao_XoaNhanVien");
    </script>
}
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Danh sách nhân viên</h4>
                        </div>
                        <div class="iq-card-header-toolbar d-flex align-items-center">
                            <a href="/QuanLy/ThemNhanVien" class="btn btn-primary">Thêm mới</a>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="width: 7%;">Mã NV</th>
                                        <th style="width: 15%;">Tên nhân viên</th>
                                        <th style="width: 15%;">Địa chỉ</th>
                                        <th style="width: 10%;">Ngày sinh</th>
                                        <th style="width: 10%;">SDT</th>
                                        <th style="width: 15%;">Email</th>
                                        <th style="width: 15%;">Trạng thái</th>
                                        <th style="width: 10%;">Hoạt động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MaNhanVien</td>
                                            <td>
                                                @item.TenNhanVien
                                            </td>
                                            <td>@item.DiaChi</td>
                                            <td>@item.NgaySinh</td>
                                            <td>@item.SoDienThoai</td>
                                            <td>@item.Email</td>
                                            @if (item.HoatDong == true)
                                            {
                                                <td>Hoạt Động</td>
                                            }
                                            else
                                            {
                                                <td>Bị Khóa</td>
                                            }

                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="bg-dark" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa" href="/QuanLy/SuaNhanVien/@item.MaNhanVien"><i class="ri-pencil-line"></i></a>
                                                    <button class="bg-dark" style="border-radius:5px;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xoá" onclick="confirmDelete('@item.MaNhanVien')"><i class="ri-delete-bin-line"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete(maNV) {
        var result = confirm("Bạn có chắc chắn muốn xóa nhân viên này không?");
        if (result) {
            // Người dùng chọn "Yes"
            window.location.href = '/QuanLy/XoaNhanVien/' + maNV;
        } else {
            // Người dùng chọn "No" hoặc đóng cửa sổ
            // Đóng cửa sổ hiện tại
            window.close();
        }
    }
</script>