@{
    ViewBag.Title = "SuaNhanVien";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model NhanVien
@if (ViewBag.ThongBao_SuaNhanVien != null)
{
    <script>
        alert("@ViewBag.ThongBao_SuaNhanVien");
    </script>
}
<!-- Sửa nhân viên -->
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Sửa nhân viên</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <form action="/QuanLy/SuaNhanVien" method="post">
                            <div class="form-group">
                                <label>Mã nhân viên:</label>
                                <input type="text" class="form-control" readonly name="manv" value="@Model.MaNhanVien" >
                            </div>
                            <div class="form-group">
                                <label>Tên nhân viên:</label>
                                <input type="text" class="form-control" name="tennv" value="@Model.TenNhanVien" required oninput="limitConsecutiveSpaces(this)">
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ:</label>
                                <input type="text" class="form-control" name="diachi" value="@Model.DiaChi" required oninput="limitConsecutiveSpaces(this)">
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại:</label>
                                <input type="number" class="form-control" name="sdt" value="@Model.SoDienThoai" required id="sdt">
                                <span id="error-msg" style="color: red; display: none;">Số điện thoại cần phải đủ 10 số</span>
                            </div>
                            <div class="form-group">
                                <label class="d-block">Hoạt Động:</label>
                                <input type="checkbox" name="tt" @(Model.HoatDong == true ? "checked" : "") />
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="validateAndSubmit(event)">Gửi</button>
                            <a href="/QuanLy/NhanVien/" class="btn btn-danger text-light" style="float:right;">Quay về</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>