@{
    ViewBag.Title = "ThemChiTietPN";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model DanhSachNhap
<!-- Thêm Chi tiết phiếu nhập -->
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Lập chi tiết phiếu nhập: <span class="text-primary">PN005</span></h4>
                        </div>

                    </div>
                    <div class="iq-card-body">
                        <form method="post" action="/QuanLy/XuLy_ThemChiTietPN">
                            @Html.Action("Dropdown_NhaCungCap", "QuanLy")
                            <div class="table-responsive">
                                <table class=" table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">Sản phẩm </th>
                                            <th style="width: 25%;">Đơn giá nhập</th>
                                            <th style="width: 25%;">Số lượng nhập</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.dssp)
                                        {
                                            <tr>
                                                <td>@item.tenSP</td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" value="" min="0" name="@string.Format("donGiaNhap_{0}", item.maSP)" required>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" value="" min="0" name="@string.Format("soLuongNhap_{0}", item.maSP)" required>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="hidden" name="@item.maSP" value="@item.maSP">
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <a href="/QuanLy/HuyDanhSachNhap" class="btn btn-danger">Quay lại</a>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary">Hoàn thành</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>