@{
    ViewBag.Title = "ThemDanhSachNhap";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
@using QLBanHang_CongTyHoaHasfarmDaLat.Models;
@model List<SanPham>
<!-- Chọn danh sách nhập -->
<!-- Page Content  -->
@if (ViewBag.ThongBao_DanhSachRong != null)
{
    <script>
        // Đoạn mã JavaScript để hiển thị thông báo alert
        alert("@ViewBag.ThongBao_DanhSachRong");
    </script>
}
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Danh sách nhập</h4>
                        </div>

                    </div>
                    <form id="danhSachNhapForm" method="post" action="/QuanLy/ThemChiTietPN">
                        <div class="iq-card-body">
                            <div class="table-responsive">
                                <table class=" table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">Mã SP</th>
                                            <th style="width: 15%;">Hình ảnh</th>
                                            <th style="width: 15%;">Tên sản phẩm</th>
                                            <th style="width: 15%;">Chủ đề</th>
                                            <th style="width: 10%;">SL Tồn</th>
                                            <th style="width: 10%;">Trạng thái</th>
                                            <th style="width: 10%;">Nhập hàng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.TrangThai == true)
                                            {
                                                <tr>
                                                    <td>@item.MaSP</td>
                                                    <td>
                                                        @if (item.HinhAnh != null)
                                                        {
                                                            <img class="img-fluid rounded" src="~/Image/@item.HinhAnh.Hinh1" alt="">
                                                        }
                                                        else
                                                        {
                                                            <p>Chưa có hình</p>
                                                        }
                                                    </td>
                                                    <td>@item.TenSP</td>
                                                    <td>@item.ChuDe.TenChuDe</td>
                                                    <td>@item.SoLuongTon</td>
                                                    <td><input type="checkbox" @(item.TrangThai == true ? "checked" : "") disabled /></td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="chon-@item.MaSP" name="chon" value="@item.MaSP">
                                                            <label class="custom-control-label" for="chon-@item.MaSP">Nhập</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <a href="/QuanLy/PhieuNhap/" class="btn btn-danger">Quay lại</a>
                                </div>
                                <div class="iq-card-header-toolbar d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary">Tạo danh sách</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>